{% extends 'home/base.html' %} 
{% load static %} 

{% block main %}
<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-35">
  <div id="carousel-example-generic" class="carousel slide carousel-slider">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li
        data-target="#carousel-example-generic"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <!-- First slide -->
      <div class="item carousel-item-four active">
        <div class="container">
          <div class="carousel-position-four text-center">
            <h2
              class="margin-bottom-20 animate-delay carousel-title-v3 border-bottom-title text-uppercase"
              data-animation="animated fadeInDown"
            >
              Tones of <br /><span class="color-red-v2">Shop UI Features</span
              ><br />
              designed
            </h2>
            <p class="carousel-subtitle-v2" data-animation="animated fadeInUp">
              Lorem ipsum dolor sit amet constectetuer diam <br />
              adipiscing elit euismod ut laoreet dolore.
            </p>
          </div>
        </div>
      </div>

      <!-- Second slide -->
      <div class="item carousel-item-five">
        <div class="container">
          <div class="carousel-position-four text-center">
            <h2
              class="animate-delay carousel-title-v4"
              data-animation="animated fadeInDown"
            >
              Unlimted
            </h2>
            <p
              class="carousel-subtitle-v2"
              data-animation="animated fadeInDown"
            >
              Layout Options
            </p>
            <p
              class="carousel-subtitle-v3 margin-bottom-30"
              data-animation="animated fadeInUp"
            >
              Fully Responsive
            </p>
            <a class="carousel-btn" href="#" data-animation="animated fadeInUp"
              >See More Details</a
            >
          </div>
          <img
            class="carousel-position-five animate-delay hidden-sm hidden-xs"
            src="{% static 'assets/pages/img/shop-slider/slide2/price.png' %}"
            alt="Price"
            data-animation="animated zoomIn"
          />
        </div>
      </div>

      <!-- Third slide -->
      <div class="item carousel-item-six">
        <div class="container">
          <div class="carousel-position-four text-center">
            <span
              class="carousel-subtitle-v3 margin-bottom-15"
              data-animation="animated fadeInDown"
            >
              Full Admin &amp; Frontend
            </span>
            <p
              class="carousel-subtitle-v4"
              data-animation="animated fadeInDown"
            >
              eCommerce UI
            </p>
            <p
              class="carousel-subtitle-v3"
              data-animation="animated fadeInDown"
            >
              Is Ready For Your Project
            </p>
          </div>
        </div>
      </div>

      <!-- Fourth slide -->
      <div class="item carousel-item-seven">
        <div class="center-block">
          <div class="center-block-wrap">
            <div class="center-block-body">
              <h2
                class="carousel-title-v1 margin-bottom-20"
                data-animation="animated fadeInDown"
              >
                The most <br />
                wanted bijouterie
              </h2>
              <a
                class="carousel-btn"
                href="#"
                data-animation="animated fadeInUp"
                >But It Now!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a
      class="left carousel-control carousel-control-shop"
      href="#carousel-example-generic"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a
      class="right carousel-control carousel-control-shop"
      href="#carousel-example-generic"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>
</div>
<!-- END SLIDER --> 
<div class="main">
    <div class="container">
        <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SALE PRODUCT -->
            
            <div class="col-md-12 sale-product">
                <h2>Sản phẩm nổi bật</h2>
                <div class="owl-carousel owl-carousel5">
                    {% for product in  page_obj %}
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="{{ product.image.url }}" class="img-responsive" alt="Berry Lace Dress">
                                <div>
                                    <a href="{{ product.image.url }}" class="btn btn-default fancybox-button">Hiện thị</a>
                                    <a href="{% url 'product_detail' product.id %} " class="btn btn-default fancybox-fast-view">Chi tiết</a>
                                </div>
                            </div> 
                            <h3><a href="{% url 'product_detail' product.id %}">{{ product.title }}</a></h3>
                            <div class="pi-price">{{ product.price }} VNĐ</div>
                            <a  href="{% url 'add_to_cart' product.id %}" class="btn btn-primary add2cart">Thêm vào giỏ <i class="fa fa-shopping-cart"></i> </a>
                            <div class="sticker sticker-sale"></div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <center>
            <nav aria-label="...">
              <ul class="pagination justify-content-center ">
                  {% if page_obj.has_previous %}
                <li class="page-item step-links">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> << </a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}"> >> </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </center>
            <!-- END SALE PRODUCT -->
        </div>
        <!-- END SALE PRODUCT & NEW ARRIVALS -->

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-4">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                  {% for item in  categories %}
                    <li class="list-group-item clearfix"><a href="{% url 'product_of_category' item.id %}"><i class="fa fa-angle-right"></i> {{item.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-8">
                <h2>Loại sản phẩm bán chạy nhất</h2>
                <div class="owl-carousel owl-carousel3">
                        {% for product in  page_obj1 %}
                        <div>
                            <div class="product-item">
                                <div class="pi-img-wrapper">
                                    <img src="/home/media/{{ product.image }}" class="img-responsive" alt="Berry Lace Dress">
                                    <div>
                                        <a href="/home/media/{{ product.image }}" class="btn btn-default fancybox-button">Hiện thị</a>
                                        <a href="{% url 'product_detail' product.id %} " class="btn btn-default fancybox-fast-view">Chi tiết</a>
                                    </div>
                                </div> 
                                <h3><a href="{% url 'product_detail' product.id %}">{{ product.title }}</a></h3>
                                <div class="pi-price">{{ product.price }} VNĐ</div>
                                <a  href="{% url 'add_to_cart' product.id %}" class="btn btn-primary add2cart">Thêm vào giỏ <i class="fa fa-shopping-cart"></i> </a>
                                <div class="sticker sticker-sale"></div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
                <center>
                  <nav aria-label="...">
                    <ul class="pagination justify-content-center ">
                        {% if page_obj1.has_previous %}
                      <li class="page-item step-links">
                        <a class="page-link" href="?page={{ page_obj1.previous_page_number }}"> << </a>
                      </li>
                      {% endif %}
                      <li class="page-item"><a class="page-link" href="#">{{ page_obj1.number }} / {{ page_obj1.paginator1.num_pages }}</a></li>
                      {% if page_obj1.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj1.next_page_number }}"> >> </a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                </center>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

        <!-- BEGIN TWO PRODUCTS & PROMO -->
        <div class="row margin-bottom-35 ">
            <!-- BEGIN TWO PRODUCTS -->
            <div class="col-md-6 two-items-bottom-items">
                <h2>Sản phẩm được yêu thích</h2>
                <div class="owl-carousel owl-carousel2">
                    <div>
                      {% for product in  page_obj2 %}
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="{{ product.image.url }}" class="img-responsive" alt="Berry Lace Dress">
                                <div>
                                    <a href="{{ product.image.url }}" class="btn btn-default fancybox-button">Hiện thị</a>
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-default fancybox-fast-view">Chi tiết</a>
                                </div>
                            </div>
                            <h3><a href="shop-item.html">{{ product.title }}</a></h3>
                            <div class="pi-price">{{ product.price }} VNĐ</div>
                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-default add2cart">Thêm vào giỏ</a>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <nav aria-label="...">
                      <ul class="pagination justify-content-center ">
                          {% if page_obj1.has_previous %}
                        <li class="page-item step-links">
                          <a class="page-link" href="?page={{ page_obj2.previous_page_number }}"> << </a>
                        </li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="#">{{ page_obj2.number }} / {{ page_obj2.paginator2.num_pages }}</a></li>
                        {% if page_obj2.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj2.next_page_number }}"> >> </a>
                        </li>
                        {% endif %}
                      </ul>
                    </nav>
                </div>
            </div>
            <!-- END TWO PRODUCTS -->
            <!-- BEGIN PROMO -->
            <div class="col-md-6 shop-index-carousel">
                <div class="content-slider">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="{% static 'assets/pages/img/index-sliders/slide1.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                            </div>
                            <div class="item">
                                <img src="{% static 'assets/pages/img/index-sliders/slide2.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                            </div>
                            <div class="item">
                                <img src="{% static 'assets/pages/img/index-sliders/slide3.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROMO -->
        </div>
        <!-- END TWO PRODUCTS & PROMO -->
    </div>
</div>

{% endblock %}
