{% extends 'home/base.html' %}
{% block main %}
<div id="wrapper">
    <div class="container justify-content-around">
      <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Trang chủ</a></li>
        <li><a href="{% url 'change_password' user.id %}">Đổi mật khẩu {{request.user}}</a></li>
    </ul>
        <div class="row">
            <form action="{{'.'}}" class="col-md-7 bg-light p-3 " method="POST" >
              {% csrf_token %}
                <h1 class="text-center text-uppercase h3">Đổi mật khẩu {{request.user}}</h1>
                <div class="form-group">
                    <label for="">Mật Khẩu cũ</label>
                    {{ form.old_password}}
                </div>
                <div class="form-group">
                    <label for="">Mật Khẩu mới</label>
                    {{ form.password}}
                </div>
                <div class="form-group">
                  <label for="">Xác nhận mật khẩu</label>
                  {{ form.password2}}
              </div>
                <div class="form-group"> 
                  <input type="submit" value="Lưu" class="btn-primary btn btn-block ">
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}