{% extends 'home/base.html' %} 
{% load static %} 
{% block main %}
</div>
<div class="title-wrapper">
  <div class="container"><div class="container-inner">
    <h1><span>MEN</span> CATEGORY</h1>
    <em>Over 4000 Items are available here</em>
  </div></div>
</div>

<div class="main">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Trang chủ</a></li>
        <li class="active">{{category.name}}</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-5">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          {% for item in  categories %}
          <li class="list-group-item clearfix"><a href="{% url 'product_of_category' item.id %}"><i class="fa fa-angle-right"></i>{{item.name}}</a></li>
          {% endfor %}
        </ul>

        <div class="sidebar-filter margin-bottom-25">
          <h2>Lọc</h2>
          <h3>Giá trị sản phẩm</h3>
          <div class="checkbox-list">
            <label><input type="checkbox"> 300 ngàn - 500 ngàn </label>
            <label><input type="checkbox"> 500 ngàn - 1 triệu</label>
            <label><input type="checkbox"> 1 triệu - 3 triệu</label>
            <label><input type="checkbox"> 3 triệu - 5 triệu</label>
            <label><input type="checkbox"> 5 triệu trở lên</label>
          </div>
        </div>
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-7">
        <center><h1 class="text-center text-uppercase h3">{{category.name}}</h1></center>
        </div>
         <!-- BEGIN CONTENT -->
    <!-- BEGIN PRODUCT LIST -->
    <div class="row product-list">
      <!-- PRODUCT ITEM START --> 
      <
      {% for product in  page_obj %}
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="{{ product.image.url }}" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="{{ product.image.url }}" class="btn btn-default fancybox-button">Hiện thị</a>
              <a href="{% url 'product_detail' product.id %}" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3><a href="{% url 'product_detail' product.id %}">{{ product.title }}</a></h3>
          <div class="pi-price">{{ product.price }} VNĐ</div>
          <a href="{% url 'add_to_cart' product.id %}" class="btn btn-default add2cart">Thêm vào giỏ</a>
        </div>
      </div>
      {% endfor %}
      <!-- PRODUCT ITEM END -->
      
    </div>
    <!-- END PRODUCT LIST -->
        <!-- END PRODUCT LIST -->
        <!-- BEGIN PAGINATOR -->
        <div class="row">
          <center>
            <nav aria-label="...">
              <ul class="pagination justify-content-center ">
                  {% if page_obj.has_previous %}
                <li class="page-item step-links">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> << </a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}"> >> </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </center>
        </div>
        <!-- END PAGINATOR -->
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
{% endblock %}