{% extends 'admin/base.html' %} 
{% load static %} 
{% block main %}
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="mt-2 mb-4">
                <h2 class="text-black pb-2">Xin chào, {{request.user}}</h2>
            </div>
{% comment %} <a href="{% url 'add_order' %}" class="btn btn-primary">Thêm sản phẩm mới</a> {% endcomment %}
<table class="table">
    <h1 class="text-center text-uppercase h3">Danh sách liên hệ</h1>
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th>Username</th>
            <th>Email</th>
            <th>Nội dung</th>
            {% comment %} <th>Active</th> {% endcomment %}
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in  page_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ contact.customer_name }}</td>
                <td>{{ contact.username }}</td>
                <td>{{contact.customer_email }}</td>
                <td>{{ contact.content}}</td>
                {% comment %} <td>{{ order.is_active }}</td> {% endcomment %}
                <td>
                    <a href=" {% comment %}{% url 'delete_order' order.id %}{% endcomment %}" class="btn btn-danger">Xóa</a>
                </td>
             </tr> 
        {% endfor %}
    </tbody> 
</table>
<nav aria-label="...">
    <ul class="pagination justify-content-center ">
        {% if page_obj.has_previous %}
      <li class="page-item step-links">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> << </a>
      </li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"> >> </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
</div>
{% endblock %}