{% extends 'admin/base.html' %} 
{% load static %} 
{% block main %}
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <div class="page-header">
        <ul class="breadcrumbs">
          <li class="nav-home">
            <a href="{% url 'admin' %}">
              <i class="flaticon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" href="#user_manager">Quản lý người dùng</a>
      </li>
          <li class="separator">
            <i class="flaticon-right-arrow"></i>
          </li>
          <li class="nav-item">
            <a href="{% url 'employee_list' %}">Danh sách nhân viên</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="table-responsive">
                <div class="d-flex align-items-center">
                  <h4 class=" text-uppercase card-title">
                    Danh sách nhân viên
                  </h4>
                  <a href="{% url 'add_employee' %}" class="btn btn-info btn-round ml-auto"
                  > <i class="fa fa-plus"></i> Thêm nhân viên</a
                >
                </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <form action="#" class="mr-md-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"> <i class="fa fa-search search-icon"></i></span>
                      </div>
                      <input  name="keyword" type="text" placeholder="Tìm kiếm..." class="form-control" >
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                      </span>
                    </div>
                  </form>
                </div>
                <div class="table-responsive">
                  <table
                    id="add-row"
                    class="display table table-striped table-hover"
                  >
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tên nhân viên</th>
                        <th>Giới tính</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Chức vụ</th>
                        <th>Lương</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Ngày vào làm</th>
                        <th style="width: 13%">Tùy chọn</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for employee in page_obj %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ employee.fullname }}</td>
                        <td>{{ employee.gender }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.phone }}</td>
                        <td>{{ employee.address }}</td>
                        <td>{{ employee.position}}</td>
                        <td>{{ employee.salary }}</td>
                        <td>{{ employee.username }}</td>
                        <td>{{ employee.password}}</td>
                        <td>{{ employee.start_date}}</td>
                        <td>
                          <a
                            href="{% url 'edit_employee' employee.id %}"
                            class="btn btn-info"
                            ><span class="glyphincon glyphicon-pencil"
                              >Sửa</span
                            ></a
                          >
                          <a
                            href="{% url 'delete_employee' employee.id %}"
                            class="btn btn-danger"
                            onclick=" return confirm('Bạn có chắc chắn muốn xóa?');"
                            >Xóa</a
                          >
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                <nav aria-label="...">
    <ul class="pagination justify-content-center ">
        {% if page_obj.has_previous %}
      <li class="page-item step-links">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> << </a>
      </li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"> >> </a>
      </li>
      {% endif %}
    </ul>
  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
