{% extends 'admin/base.html' %} 
{% load static %} 
{% block main %}
<div class="main-panel">
  <div class="content">
      <div class="page-inner">
          <div class="page-header">
              <ul class="breadcrumbs">
                  <li class="nav-home">
                      <a href="{% url 'admin' %}">
                          <i class="flaticon-home"></i>
                      </a>
                  </li>
                  <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                  <a data-toggle="collapse" href="#user_manager">Quản lý người dùng</a>
              </li>
                  <li class="separator">
                      <i class="flaticon-right-arrow"></i>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'customer_list' %}">Danh sách khách hàng</a>
                </li>
                  <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                  <li class="nav-item">
                      <a href="{{'.'}}">Thêm khách hàng</a>
                  </li>
              </ul>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-title"><center><b> Thêm khách hàng </b></center></div>
                      </div>
                      <div class="card-body">
                          <form action="{{'.'}}"  method="POST" >
                              {% csrf_token %}
                          <div class="row">
                              <div class="col-md-6 col-lg-6">
                                  <div class="form-group">
                                      <label for="email">Email</label>
                                      <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1">@</span>
                                          </div>
                                          {{ form.email}} 
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="fullname">Tên nhân viên</label>
                                      {{ form.fullname}}
                                  </div>
                                  <div class="form-group">
                                      <label for="username">Username</label>
                                      {{ form.username}}
                                  </div>
                                  <div class="form-group">
                                      <label for="password">Password</label>
                                      {{ form.password}}
                                  </div>
                                  <div class="form-group">
                                    <label for="">Xác nhận mật khẩu</label>
                                    {{ form.password2}}
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-6">				
                                
                                  <div class="form-group">
                                      <label for="">Giới tính</label>
                                      {{ form.gender}}
                                  </div>
                                  <div class="form-group">
                                    <label for="">Số điện thoại</label>
                                    {{ form.phone}}
                                </div>
                                    <div class="form-group">
                                      <label for="">Địa chỉ</label>
                                      {{ form.address}}
                                  </div>
                              </div>
                              <div class="form-group">
                              <input type="submit" value="Thêm khách hàng" class="btn-success btn  ">
                              <a href="{% url 'customer_list' %}" class="btn  btn-primary">Quay lại</a>
                          </div>
                          </div>
                      </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}